extends layout

block content
  .content
    div.logincontent
      div.loginbanner
          img(src="Images/Riskynobi- SkatePark.png")
      div.login-form 
        img(src="Images/logo w.svg", alt="logo")
        form.pure-form.pure-form-stacked(id="loginForm")
          h2 Acesse sua conta 
          div.fieldsetlogin
            p Email:
            div.input-container
              label(for="email")
              input(type="email", id="email",name="email",required)
            p Senha:
            div.input-container
              label(for="password")
              input(type="password",id="password",name="password",required)
            
            button.btn(id="submit") Entrar
          p#login-message 
          div.space 
    script(type="module" src="js/authentication.js") 