extends layout

block content
  .content
    div.logincontent
      div.loginbanner
          img(src="https://cdnb.artstation.com/p/assets/images/images/046/086/667/large/guilherme-freitas-br-copy12-copy.jpg?1644267167" style="width:100%")
      div.login-form 
        h1 [logo]
        form.pure-form.pure-form-stacked(id="loginForm")
          h2 Acesse sua conta 
          div.fieldset
            p Email:
            div.input-container
              label(for="email")
              input(type="email", id="email",name="email",required)
            p Senha:
            div.input-container
              label(for="password")
              input(type="password",id="password",name="password",required)
            
            button.btn(id="submit") Entrar
          p#login-message 
          div.space 
    script(type="module" src="js/authentication.js") 