extends layout

block content
  .content
    h1 Bem vindo a Ivan Store

    .login-section 
    form.pure-form.pure-form-stacked(id="loginForm")
      fildset
        label(for="email") Email:
        input(type="email", id="email",name="email",required)
        label(for="passowed") Senha:
        input(type="password",id="password",name="password",required)
        button.pure-button.pure-button-primary(id="submit") Entrar
      p#login-message 
    script(type="module" src="/js/autenticacao.js") 