@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* coisas relativas a pagina inteira */
.cabecalho {
    text-align: center;
    color: white;
}

.cabecalho p {
    font-family: "Raleway", sans-serif;
}

.space {
    margin-top: 50%;
}

header,
footer {
    background: white;
    text-align: center;
    padding: 1em 0;
}

footer {
    height: 10vh;
}

body {
    background-color: black;
    height: auto;
    width: 100%;
    font-family: "PT Sans", sans-serif;
}

/*coisas relativas a página principal(home) */

.produtos {
    align-content: center;
    display: inline;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.buttoncontent {
    margin-left: 25px;
    margin-top: 25px;
    display: inline;
    width: 300px;
    height: 400px;
    font-size: calc(0.5vw + 10px);
    word-wrap: break-word;
    border-radius: 10px;
    background-color: white;
}

.vermais {
    display: block;
    margin: 50px auto;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border: 0;
    border: 2px solid white;
}

.vermais:hover {
    background-color: white;
    color: black;
}

.buttoncontent h3 {
    display: absolute;
    margin-top: -90px;
    vertical-align: top;
}

.buttoncontent img {
    width: 125px;
}

.logo {
    margin-right: -1px;
    width: 50px;
}



.buscar {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.buscar img {
    vertical-align: center;
    width: 20px;
}

.lupabotao {
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightgrey;
    margin-left: 15px;
}

.lupabotao:hover {
    opacity: 1;
}

.lupinha {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 80px;
    width: 600px;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;

}


.mySlides {
    max-width: 100%;
    display: none;
}

.mySlides img {
    object-fit: cover;
    height: 31.25rem;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 15.6rem;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0px 0px 3px;
}

prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

prev:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* coisas relativas a pagina de login */

.logincontent {
    display: flex;
    box-sizing: border-box;
    position: static;

}

.login-form {
    display: block;
    width: 30%;
    align-content: center;
    text-align: center;
    margin: 100px 0px 0px 10%;
}

.login-form img {
    width: 100px;
}

.login-form h1,
.login-form h2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: white;
}

.loginbanner {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.loginbanner img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.fieldsetlogin {
    background-color: rgba(158, 172, 255, 0.1);
    border-radius: 10px;
    border: 1px solid white;
    color: antiquewhite;
    padding: 10px;
    text-align: left;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    outline: none;
}


.inputCampo:focus {
    border: 2px solid dodgerblue;
}

.btn {
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/* coisas relativas á página de cadrasto de produtos */

.prodPage {
    display: block;
    width: 30%;
    align-content: center;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    margin-left: 80vh;
}

.prodPage h1 {
    font-family: "PT sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: white;
}

.prodInput {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.prodInput input {
    width: 100%;
    padding: 10px;
    outline: none;
}

.fieldsetProd {
    background-color: rgba(158, 172, 255, 0.1);
    border-radius: 10px;
    border: 1px solid white;
    color: antiquewhite;
    padding: 10px;
    text-align: left;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}