.cabecalho {
    text-align: center;
}

body {
    height: auto;
    width: 100%;
    font-family: 'Playwrite Cuba', Times, monospace;
}

.produtos {
    align-content: center;
    width: 20%;
    background-color: red;
    display: inline;
}

.buttoncontent {
    margin-left: 25px;
    margin-top: 25px;
    display: inline;
    width: 30%;
    height: 100%;
    word-wrap: break-word;
}

.logo {
    margin-right: -1px;
    background-color: red;
}

.buscar {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.buscar img {
    vertical-align: center;
    width: 20px;
}

.lupabotao {
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightgrey;
    margin-left: 15px;
}

.lupinha {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 80px;
    width: 600px;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;

}


.mySlides {
    max-width: 100%;
    display: none;
}

.mySlides img {
    object-fit: cover;
    height: 31.25rem;
}

.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 15.6rem;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0px 0px 3px;
}

prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

prev:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.dotboot {
    text-align: center
}